<h1><%= @child.name %></h1>

<ul>
  <li>Neme: <%= @child.sex %> </li>
  <li>Születési ideje:<%= @child.time_of_birth %> (<%= @child.age[:years] %> éves és <%= @child.age[:months] %> hónapos)</li>
  <li> <%= @child.days_until_next_birthday %> nap múlva lesz a születésnapja</li>
</ul>
